.*
!.git*
!/.npmrc
*.cpuprofile
/jsdoc
/lib/**/*.js
/lib/feature-all.d.ts
/packages/*/lib
/packages/*/test/browser-spec-runner.js
/test/spec-runner.html
/ui/**/*.js
coverage/
node_modules/
npm-debug.log
